.movies__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.actors__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.recommend {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}